# Set the default file to serve (index.php or index.html)
DirectoryIndex index.php index.html

# Ensure mod_rewrite is enabled for clean URLs
<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

# Prevent access to sensitive files
<FilesMatch "\.(env|json|log|ini|sh|bak|psd|tif|yml|twig)$">
   Order Allow,Deny
   Deny from all
</FilesMatch>

# Set custom error pages
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
